{% load staticfiles %}
<!DOCTYPE html>

<html>

    <head>
		
        <meta charset="utf-8" />

        <title>Iboo : Trouvez une soirée en un clic</title>
		<link rel="stylesheet" type="text/css" href="{% static 'accueil/style.css' %}" />
    </head>


    <body>
		
		<div id="header-wrapper">

			
					<h1>Iboo</h1>
					<a href="/"><img src="http://i.imgur.com/H6hQp5W.png"  width="200" alt="logo"  /></a>

			

			 <div id="menu">

					 <ul>
						

				

						{% if user.is_authenticated %}
							<li><a href="/events">Evènements</a></li> 

							<li><a href="/profile">Profil</a></li> 
							
							<li><a href="/logout">Déconnexion</a></li>
							
							<li><a href="/events/messagerie">Messagerie</a></li>
						{% else %}
							<li><a href="/register">Inscription</a></li> 
						 
							<li><a href="/login">Connexion</a></li> 
						{% endif %}

					 </ul>

				</div>
			
		</div>

	
		
		
		{% block content %}
		{% endblock %}
		
		
		<!-- <div class="beta">
		<p>Iboo : version bêta. Pour tout bug, le signaler à l'adresse mail suivante : japhet.situmonana@gmail.com</p>
		</div> -->

    </body>

</html>