{% extends 'home/base.html' %}



{% block nav_mobile %}
<a href="/events"><i style="margin-left: 50px;" class="material-icons" >arrow_back</i></a>
{% endblock %}

{% block content %}

<div class="hero-image hide-on-small-only">
  <div class="hero-text">
	<h1>Laisse un mot</h1>
  </div>
</div>
<div class="container app-page">
	<div class="row">
		<div class="col l12">

			<div class="form-wrap">
				<form method="post" class="post-form">
					{% csrf_token %}
					{{ form.as_p }}
					<div class="col m12 center-block">
						<button id="singlebutton" name="singlebutton" type="submit" class="btn btn-default center-block">GO</button>
					</div>
				</form>

			</div>
		</div>
	</div>
 </div>
{% endblock %}
