{% extends 'home/base.html' %}

{% block nav_mobile %}
<a href="/events"><i style="margin-left: 50px;" class="material-icons" >arrow_back</i></a>
{% endblock %}

{% block content %}

<div class=" hero-image" style="background-image: url({{ MEDIA_URL }}{{ event.picture }}) !important;">
  <div class="hero-text">
	<h1 class="very-bold">{{ event.title }}</h1>
	  <h2>{{ event.date }}</h2>
  </div>
</div>
<main>
	<div class="container">
		<div class="row">
			<div class="col s12 l4">
				{% if event.is_past_due %}
				<p>Cet événement a déjà eu lieu</p>
				{% else %}
				<a class="waves-effect yellow accent-3 black-text waves-light btn big-btn" href="{% url 'event_request' pk=event.pk %}" class="button"><b>PARTICIPE</b></a>


				{% endif %}
				<a style="color: black;" href="{% url 'profile' username=event.author.username %}"><img src="{{ MEDIA_URL }}{{ event.author.profile.profile_pic }}" alt="" class="centered-and-cropped" width="30" height="30" style="border-radius:50%; vertical-align: middle; ">
					<span style="margin-left: 0.5em; font-size: 1em;" ><b>{{ event.author.username }}</b></span></a>
				<hr class="hr1">
			</div>

		</div>
		<div class="row">
			<div class="col s12 l4">
				<h2><b>Détails</b></h2>
				<p><b>Heure de l'événement : </b>{{ event.hour}}</p>
				<p><b>Date : </b>{{ event.date}}</p>
				<p>{{ event.description }}</p>
			</div>
			{% if my_event %}
			<a class="waves-effect black accent-3 white-text waves-light btn big-btn" href="{% url 'edit_my_event' pk=event.pk %}" class="button"><b>Editer mon événement</b></a>
			{% endif %}
		</div>
	</div>
</main>

{% endblock %}
