{% extends 'home/base.html' %}

{% block nav_mobile %}Nouvel événement{% endblock %}
{% block title %}Iboo - Nouvel événement{% endblock %}


<main>




	{% block content %}
	<div class="hide-on-small-only hero-image">
		<div class="hero-text">
			<h1>Nouvel événement</h1>
		</div>
	</div>
	<main>
		<div class="container">
			<div class="row">
				<div class="col s12 l12">
					<div class="card-panel" style="margin-top: 35px;">

						<form method="post" class="post-form" enctype="multipart/form-data">

							{% csrf_token %}
							<p class="black-text"><label for="{{ form.picture_url.id_for_label }}"><b>{{ form.picture.label }} : </b></label>{{ form.picture }}</p>
							<p class="black-text"><label for="{{ form.title.id_for_label }}"><b>{{ form.title.label }}</b></label>{{ form.title }}</p>
							<p class="black-text"><label for="{{ form.address.id_for_label }}"><b>{{ form.address.label }} (l'adresse n'est dévoilée qu'aux participants que tu acceptes)</b></label>{{ form.address }}</p>
							<p class="black-text"><label for="{{ form.bonus_place.id_for_label }}"><b>{{ form.bonus_place.label }}</b></label>{{ form.bonus_place }}</p>
							<p class="black-text"><label for="{{ form.description.id_for_label }}"><b>{{ form.description.label }}</b></label>{{ form.description }}</p>
							<p class="black-text"><label for="{{ form.date.id_for_label }}"><b>{{ form.date.label }}</b></label>{{ form.date }}</p>
							<p class="black-text"><label for="{{ form.hour.id_for_label }}"><b>{{ form.hour.label }}</b></label>{{ form.hour }}</p>



							<div class="col-md-12 center-block">
								<button id="singlebutton" name="singlebutton" type="submit" class="waves-effect waves-light yellow black-text accent-3 btn"><b>GO</b></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
	{% endblock %}

