{% extends 'home/base.html' %}


{% block content %}

<div class="hero-image">
  <div class="hero-text">
	<h1>{{ event.title }}</h1>
  </div>
</div>
<main>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-image">
					  <img class="centered-and-cropped" height=350 src="{{ MEDIA_URL }}{{ event.picture_url }}">
					  <span class="card-title">{{ event.title }}</span>
					</div>
					<div class="card-content">
						<h3><b>{{ event.title }}</b></h3>
						<h4>{{ event.date }}</h4>

						<p >{{ event.description }}</p>
						<p style="margin-top: 20px;"><a class="waves-effect pink accent-3 waves-light btn" href="{% url 'edit_my_event' pk=event.pk %}" class="button">Modifier</a></p>

					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}
