{% extends 'accueil/base.html' %}


{% block content %}
<div class="content_wrapper">
	<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="img-wrap3">
						<img class="avatar" src="{% if profile.user.socialaccount_set.all.0.get_avatar_url %} {{ profile.user.socialaccount_set.all.0.get_avatar_url }} {% else %} {{ profile.profile_pic_url }}{% endif %}"   />
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h1 style="text-align:left; margin-top: 0px;">{{ profile.user.username }}</h1>
					<p><b>Age :</b> {{ profile.age }}</p>
				</div>

			</div>

			<div class="row about">
				<h2>Description </h2><p> {{ profile.description }}</p>
				<h2>Profession</h2> <p>{{ profile.profession }}</p>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 info">
			<p><b>Evènements auxquels {{ profile.user.username }} a participé : </b></p>
				{% for list in list_p %}
					<div class="event_list_el">
						<p><a href="{% url 'event_detail' pk=list.event.pk %}" width="300">{{ list.event.title }}</a></p>
					</div>
				{% endfor %}
				<p><b>Evènements que {{ profile.user.username }} a organisé : </b></p>
				{% for event in events_o %}
					<div class="event_list_el">
						<p><a href="{% url 'event_detail' pk=event.pk %}">{{ event.title }}</a></p>
					</div>
				{% endfor %}
		</div>

{% endblock %}