{% extends 'home/base.html' %}

{% block nav_mobile %}Mon Compte{% endblock %}
{% block content %}




<main>
	<!-- grid here -->
	<div class=" hero-image" style="background-image: url({{ MEDIA_URL }}{{ profile.profile_pic }}) !important;">
		<div class="hero-text">
			<h1>{{ profile.user.username }}</h1>
		</div>
		{% if my_profile %}
		<a href="{% url 'edit_profile' %}" class="btn-floating black-text halfway-fab edit-btn waves-effect waves-light yellow accent-3"><i style="color: black !important;" class="material-icons">edit</i></a>
		{% endif %}
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12 l12">
				<p><b>Âge : </b>{{ profile.age }} ans</p>
				<p><b>Présentation : </b>{{ profile.description }}</p>
				<p><b>Numéro : </b>{{ profile.numero }}</p>
				<p><b>Profession : </b>{{ profile.profession }}</p>
				<p><a class="pink-text" style="font-size: 10px;" href="/accounts/logout?next=/path_to_the_page">Déconnexion</a></p>
			</div>
			<div class="col s12 m4 l6">
				<div class="card-panel">
					<h2>A participé à:</h2>
					<ul class="collection">
						{% for e in events_attended %}
						<li><a href="{% url 'event_detail' pk=e.pk %}">{{ e.event.title }}</a></li>
						{% empty %}
						<p>Je n'ai participé à aucun événement</p>
						{% endfor %}
					</ul>

				</div>
			</div>
			<div class="col s12 m4 l6">
				<div class="card-panel">
					<h2>A organisé:</h2>
					<ul class="collection">
						{% for ev in events_organized %}
						<li><a href="{% url 'event_detail' pk=ev.pk %}">{{ ev.title }}</a></li>
						{% empty %}
						<p>Je n'ai organisé aucun événement</p>
						{% endfor %}
					</ul>

				</div>

			</div>
		</div>




	</div>
</main>









{% endblock %}
